@media only screen and (max-width: 991px) {
    .main-banner-div {
        height: 604px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../images/banner/banner.jpg") left/cover no-repeat;
        /* background: url("../images/banner/banner_medium.jpg") bottom/cover no-repeat; */
    }
    .btn-banner {
        display: none;
    }
    .banner-inner {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
        padding: 62px 0 0 !important;
    }
    .banner-wrapper .title {
        display: block;
        width: 90%;
        max-width: none;
        margin-right: auto;
        margin-bottom: 12px;
        margin-left: auto;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
    .banner-wrapper p {
        display: block;
        width: 90%;
        max-width: none;
        margin-right: auto;
        margin-left: auto;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    .sub-banner-div .banner-wrapper p {
        display: contents;
        width: auto;
        max-width: none;
        margin-right: auto;
        margin-left: auto;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    .banner-wrapper .breadcrumbs {
        justify-content: center;
    }
    .sub-banner-div .banner-inner {
        padding: 0 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .btn-banner {
        position: absolute;
        right: 50%;
        bottom: 0px;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    .macro-diff-image img {
        margin-bottom: 70px;
    }
    #footer .title {
        text-align: center;
    }
    #footer .social {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* How it works */
    #how-it-works img {
        margin-bottom: 50px;
    }
    .about-us-content {
        margin-bottom: 50p;
    }
}

@media only screen and (max-width: 768px) {
    #meal-plan-section .heading .title {
        font-size: 30px;
    }
    .navbar-collapse {
        background-color: #fff;
        padding-top: 20px;
        width: 100%;
        z-index: 1;
    }
    .first-top-footer-links {
        text-align: center;
        margin-bottom: 0px;
    }
    .second-top-footer-links {
        text-align: center;
        margin-bottom: 30px;
    }
    .medium-footer-links {
        margin: 50px 0px;
        text-align: center;
    }
    #footer .footer-bottom-inner .trustpilot-link {
        justify-content: center;
    }
    .copyright-footer-links-div {
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
    }
    .remove-margin-768 {
        margin-top: 0px !important;
    }
    .card-btn-div {
        position: relative;
        bottom: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .meal-plan-card .card .card-body .card-title {
        font-size: 28px;
    }
    .meal-plan-card .card .card-body .card-text {
        font-size: 16px;
    }
    .meal-plan-card .card .card-body {
        padding: 20px 35px 0px;
        min-height: fit-content;
    }
    .blog-card {
        display: block;
    }
    .blog-card .img-box img {
        width: 100%;
    }
    .blog-card .content-box {
        padding-bottom: 25px;
    }
    #meal-detail-page .img-box img {
        height: 350px;
    }
    .meal-detail-content-box .ing-box .title {
        text-align: left;
    }
    .meal-detail-content-box .btn-black {
        font-size: 16px;
    }
    .meal-detail-tabs .nav-link {
        margin-bottom: 10px;
    }
    .meal-detail-content-box .tags a {
        font-size: 12px;
    }
    .contact-page .contact-card {
        margin-bottom: 30px !important;
    }
}

@media only screen and (max-width: 575px) {
    #footer .subscribe-div-border {
        border-left: 0px;
        border-bottom: 1px solid var(--gray);
        padding: 0 20px;
        padding-bottom: 20px;
    }
    .ft-2-num {
        justify-content: center;
    }
    .stay-connected-div {
        margin-top: 30px;
    }
    #footer .subscribe {
        margin-top: 25px;
    }
    #blog-detail-page .tagbox .tb {
        display: inline-block;
    }
    #blog-detail-page .tagbox a {
        display: block;
        width: fit-content;
        margin-bottom: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .main-banner-div {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../images/banner/banner.jpg") left/cover no-repeat;
        /* background: url("../images/banner/banner_mobile.jpg") bottom/cover no-repeat; */
    }
    .get-started-main-div {
        padding: 40px 32px;
    }
}
