:root {
    --white: #fff;
    --black: #000;
    --primary: #f7941d;
    --green: #08663d;
    --blue: #61abfc;
    --heading-text: #152f2e;
    --purple: #b068aa;
    /* --primary: #B3C182; */
    --primary-green: #12a766;
    --secondary: #12a766;
    --light-secondary: #12a766;
    /* --palate-gray: #FBF6EE; */
    --palate-gray: #fff;
    --text: #3c3c3c;
    --light-text: #485450;
}
